
@{
    ViewBag.Title = "CrearPorArchivo2";
}

<h2>CrearPorArchivo2</h2>
@using (Html.BeginForm("CrearPorArchivo2", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
    <input type="submit" value="Importar" />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
